
@import url(https://fonts.googleapis.com/css?family=Lato:100,300,400,700);

html {
  height: 100%;
  font-family: 'Lato';
}
body {
  height: 100%;
  margin: 0;
  background: #272933;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
* {
  box-sizing: border-box;
}
#container {
  width: 1200px;
  background: #333641;
  margin: 60px auto;
  border-radius: 4px;
}


#sideMenu {
  width: 240px;
  height: 100%;
  padding: 30px;
  border-right: 5px solid #272933;
  display: table-cell;
  vertical-align: top;
  color: #fff;
}
.menu {
  list-style: none;
  margin:  24px 0;
  padding: 0;
}
.menu li {
  display: block;
  height: 30px;
  width: 100%;
  line-height: 30px;
  font-size: 14px;
  font-weight: 200;
  color: rgba(255, 255, 255, .6);
  position: relative;
}
.menu li:hover {
  color: #239ae3;
}

#content {
  width: calc(100% - 240px);
  height: 100%;
  padding: 25px;
  display: table-cell;
  
}
#titleBar {
  height: 36px;
  margin-bottom: 30px;
  
}

#image-test {
  position: relative;
  left:348%;
  height:0px;
}

h1 {
  display: block;
  height: 30px;
  width: 100%;
  line-height: 30px;
  font-size: 16px;
  font-weight: 200;
  color: rgba(255, 255, 255, .6);
  position: relative;
}

h2 {
  display: block;
  height: 30px;
  width: 100%;
  line-height: 22px;
  font-size: 23px;
  font-weight: 200;
  color: rgba(255, 255, 255, .6);
  position: relative;
  left:348%;
}

h3 {
  display: block;
  line-height: 2px;
  font-size: 16px;
  font-weight: 200;
  color: rgba(255, 255, 255, .6);
  position: relative;
  left:15%;
  height:65px;
}

h3:hover {
  color: #239ae3;
}

.clearFix {
  clear: both;
}

